* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

section {
    width: 100vw;
    min-height: 100vh;
    min-width: fit-content;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px 80px;
    background: rgb(115, 224, 255);
    position: fixed;
    z-index: 2;
    margin: auto;
}


.logo {
    width: 70px;
    height: 70px;
}

.navbar,
.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.navbar-list {
    gap: 60px;
}

.navbar-list a {
    color: white;
    font-size: 20px;
}

.navbar-list a:hover {
    color: red;
}

.open-menu {
    transform: translateY(0%);
    transition: all 0.4s ease;
}


.cart-label {
        display: flex;
        order: 2;
        cursor: pointer;
        margin: 5%;
    }

    .cart-label .cart-icon img {
        height: 50px;
        width: 50px
    }
    .cart-icon {
        width: 40px;
        height: 40px;
    }

.cart { 
    position: absolute;
    top: 80px;
    right: -80px;
    min-width: 250px;
    padding: 20px;
    border-left: 1px solid gray;
    background-color: white;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    height: 100vh;
    width: 340px;
    display: flex;
    transform: translateX(200%);
    transition: all 0.6s ease;
}

.cart-bubble {
    background-color: yellow;
    font-size: 12px;
    border-radius: 10px;
    padding: 0px 2px 1px 2px;
    position: absolute;
    right: -24px;
    top: 16px;
    color: orangered  ;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart::-webkit-scrollbar {
    display: none;
}

.open-cart {
    transform: translateY(0%);
    transition: all 0.4s ease;
    background-image: url(img/pokemones/backgroundcart.jpg);
    background-size: cover;
    border-left: #fefefe solid 5px;
}

.open-cart h3 {
    margin: 5%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #fefefe;
    border: red solid 2px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5);
    font-weight: 800;
}

.cart-total  {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    color: #fefefe;
    font-size: 20px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}

.cart-btn {
    padding-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cart-btn-delete,
.cart-btn-buy {

    font-size: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background: red;
    color: white;
    cursor: pointer;
}

.cart-btn-delete:hover {
    background: gold;
    color: white;
}
.cart-btn-buy:hover {
    background: forestgreen;
    color: white;
}

.cart-item {
    width: 90%;
    display: flex;
    margin: auto;
    gap: 10px;
    border: #fefefe solid 2px;
    border-radius: 10px;
}

.cart-item img {
    margin: 3%;
    margin-left: 9%;
    display: flex;
    width: 80px;
    height: 80px;
}

.cart-item h2 {
    display: flex;
    color: white;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5)
}

.item-info {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 5px;
    padding-top: 5px;
}

.active-modal {
    padding: 15px 0px;
    position: fixed;
    bottom: 0px;
    color: white;
    font-weight: 500;
    background-color: rgb(49, 234, 49);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(200%);
    transition: all 0.6s ease;
    z-index: 3;
}

.show-modal {
    transform: translateX(0%);
    transition: all 0.4s ease;
}









main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(131, 203, 83)
}

#hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/wallpaperMain.png);
    background-position: bottom center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
}

.hero-info h1 {
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    font-weight: 800;
    color: white;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.5)
}

.hero-info h1 span {
    font-size: 50px;
}

.hero-info p {
    font-size: 30px;
    width: 50%;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.logo-pikachu {
    width: 420px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#clases {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    padding-top: 30px;
}

#clases .categories {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}


#clases .category {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    gap: 30px;
    border: #fefefe solid 2px;
    cursor: pointer;
}

#clases .category img {
    border-radius: 15px;

}


#clases h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
}


#clases .type-icon {
    width: 100%;
    height: 100%;
}






#pokemones {
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.pokemones-titulo {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 90%;
}

.pokemones-titulo h2 {
    font-size: 48px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.pokemones-titulo p {
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#pokemones .pokemon-container {
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#pokemones p {
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#pokemones h3 {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5)
}



#pokemones .products {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap: 2px;
    border: #fefefe solid 3px;
    background-image: url(/img/pokemones/pokeback1.png);
}

#pokemones h3 {
    color: white;
    background-color: black;
    border-radius: 7px;
    width: 110%;
}


#pokemones .products img {
    width: 160px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60%;
    margin-bottom: 5%;
    
}

#pokemones .products p {
    position: relative;
    top: 4px;
}

#pokemones .products button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background: rgb(13, 158, 13);
    color: white;
    cursor: pointer;
}
#pokemones button:hover {
    background: rgb(20, 234, 241);
    color: white;
}



#pokemones .ver-mas_btn {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background: red;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}




/*
 
#contacto {
    padding-top: 70px;
    margin: auto;
    min-width: auto;
    max-width: 1200px;
    width: 80%;

}

#contacto h2 {
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.contacto form {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

form .conteinter-cajas {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .conteinter-cajas .cajas-contacto {
    position: relative;
    width: 49%;
    margin: 5px 0;
}

.contacto form .conteinter-cajas .cajas-contacto input,
.contacto form .text-area textarea {

    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    background: linear-gradient(to top, #ee9ca7, #ffdde1);
    border: #FF69B4 solid 3px;
}

.contacto form .conteinter-cajas .cajas-contacto input::placeholder,
.contacto form .text-area textarea::placeholder {
    color: white;
}


*/

footer {
    padding-top: 5px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid white;
    background-image: url(/img/pokemones/pikachuFooter.png);
    min-width: auto;
    background-position-y: bottom;

}

.footer-img-conteiner {
    display: flex;
    padding-top: 10px;
}

.footer-banner {
    display: flex;
    padding-top: 5px;
    padding-left: 18%;
    align-items: center;
    justify-content: center;
    width: 140px;
    margin-top: 5%;
}

.footer-icon-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 20px;
}

footer h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

footer h3:hover {
    background: #eea849;
}



#menu-toggle ,
.menu-label {
    display: none;
}